<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
         <div class="center">
            <div class="logo"><img src="logo.jpeg"></div>
            <div class="menu"></div> 
            <a class="ativa" href="#">Home</a>
            <a href="#">Eventos</a>
            <a href="#">Comentários</a>
            <a href="#">Usuários</a>
            <a href="#">Login</a>
         </div> 
    </header>
<div class="alternative">
    <span>OR</span>
    <form action="">
        <label for="name">
            <span>Nome</span>
            <input type="text" id="name" name="name">
        </label>
        <label for="Telefone">
            <span>Telefone</span>
            <input type="number" id="Telefone" name="Telefone">
        </label>
        <label for="CPF">
            <span>CPF</span>
            <input type="number" id="CPF" name="CPF">
        </label>
        <label for="Email">
            <span>Email</span>
            <input type="email" id="email" name="email">
        </label>
        <label for="password">
            <span>password</span>
            <input type="password" id="password" name="password">
        </label>
        <input type="submit" value="enviar"> 
    </form>
</div> 







</body>
</html>